@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
body {
  font-family: "Source Code Pro", monospace !important
  ;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
}

.movie-container {
  text-align: center;
}
.page_description {
  font-size: 25px;
  font-weight: 500;
}

.movie-name {
  font-size: 30px;
  text-transform: uppercase;
  color: red;
}

.movie-image {
  width: 250px;
  height: 350px;
  margin-top: 10px; /* Adjust as needed for spacing between name and image */
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 11px 11px 23px -7px rgba(0, 0, 0, 0.4);
}
